* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.fa-solid{
    color: #B1AAAA;
}

body {
    background-color: brown;
    width: 100%;
    height: 100vh;
}

header {
    height: 15%;
    width: 100%;
    background-color: #F1F0F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-1 {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
}

#header-icons {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    height: 100%;
    width: 15%;
}

#header-2 {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;
}

#back-icon {
    position: absolute;
    left: 0;
    padding: 15px;
}

main {
    background-color: #FBFAFF;
    height: 85%;
    width: 100%;
    padding: 15px;
    
}

search {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #F1F0F6;
    border-radius: 20px;
}

#chats-container {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 2%;
    position: relative;
}

.element-main {
    height: 20%;
    width: 100%;
    display: flex;
}

#pd-container {
    display: flex;
    gap: 1rem;
    width: 70%;
}

.contact-profile {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 20%;
}

.profile-picture {
    object-fit: contain;
    max-width: 40%;
    height: 100%;
    border-radius: 25px;
}


.contact-details {
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
}

.profile-name {
    color: #696878;
}

.profile-id {
    color: #A1A2B4;
}

.profile-designation {
    color: #2D4F6B;
}

.contact-icons {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}


footer {
    width: 100%;
    height: 10%;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    position: relative;
}

container {
    display:  grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    width: 100%;
    height: 100%;
}

.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#element-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.footer-images {
    display: flex;
    justify-content: center;
    object-fit: contain;
    height: 70%;
    width: 20%;
}

.footer-text {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#info {
    width: 7%;
    height: 110%;
    background-color: #E8863B;
    border-radius: 30px;
    position: absolute;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-inside {
    width: 50%;
    height: 50%;
    background-color: #E8863B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid white;
}

@media (max-width:1500px) {
    .profile-picture {
        max-width: 110%;
    }

    .fa-solid {
        font-size: large;
    }

    .contact-icons {
        gap: 50px;
    }

    #header-text {
        font-size:x-large;
    }

    #header-time {
        font-size: larger;
    }

    #chats-container {
        padding: 20px;
    }

    #info {
        min-width: 8%;
    }

    /*.element-main {
        grid-template-columns: repeat(4,1fr);
    }*/
}

@media (max-width:1000px) {
    .profile-picture {
        max-width: 60%;
    }

    #info {
        min-width: 11%;
    }

    .profile-picture {
        max-width: 130%;
    }

    #pd-container {
        gap: 3rem;
    }
}

@media (max-width:860px) {
    .profile-picture {
        max-width: 165%;
    }

    #info {
        min-width: 14%;
    }

    #header-icons {
        width: 20%;
    }

    #pd-container {
        gap: 4rem;
    }


    
}

@media (max-width:713px) {
    .profile-picture {
        max-width: 80%;
    }
}

@media (max-width:570px) {
    .profile-picture {
        max-width: 90%;
    }
}
